#banner-slide img {max-width: 100%;}
#banner-slide .owl-dots{text-align: center;position: absolute;left: 50%;transform: translateX(-50%);bottom: 1rem;}
#banner-slide .owl-dot{height: 1rem;width: 1rem;border-radius: 50%;margin-left: 1rem;background-color: white;border: 1px solid;}

#vid-binggo-leader{margin-top: 5rem;}
#vid-binggo-leader .video iframe{margin-top: 3rem;max-width: 100%;width: 100%;height: 23rem;}
#vid-binggo-leader .text .title img{max-width: 100%;}
#vid-binggo-leader .text .content {margin-top: 3rem;}
#vid-binggo-leader .text .content p{text-align: justify;}
#vid-binggo-leader .text{padding-left: 3rem;}
#vid-binggo-leader .text .title{padding-left: 2rem;}
#vid-binggo-leader .row{display: inherit;}
#vid-binggo-leader .right{float: right;}


#courses{background-image: url('images/courses/bg.png');background-repeat: no-repeat;background-size: auto;}

#chart-courses{margin-top: 8rem;}
#chart-courses .title-main {position: absolute;margin-left: 3rem;}
#chart-courses .title-main h2{color: #e71c24; font-size: 50px;font-weight: bold;}
#chart-courses .title-main span{display: block;font-size: 22px;}
#chart-courses .chart{border-bottom: 7px solid #e71c24;display: flex;padding-top: 38px;}
#chart-courses .chart .content{display: flex;justify-content: center;padding-left: 5.5rem;align-items: flex-end;}
#chart-courses .chart .column{width: 14.6rem;border-top-left-radius: 25px;border-top-right-radius: 25px;padding-left: 2px;padding-right: 2px;}
#chart-courses .chart {height: max-content;text-align: center; }
#chart-courses .chart .column{background-color: #f0c14b;height: max-content;}
#chart-courses .chart .column .title {margin-top: 1rem;}
#chart-courses .chart .column .icon {margin-top: 1rem;}
#chart-courses .chart .column .describe{margin-top: 1rem;}
#chart-courses .chart .column img{max-width: 100%;}
#chart-courses .chart .column .describe p{color: white;}
#chart-courses .chart .column .arrow{font-weight: bold;}
#chart-courses .chart .content .two{background-color: #b5d56a;height: max-content;}
#chart-courses .chart .content .two .arrow{margin-bottom: 7rem;}
#chart-courses .chart .content .three{background-color: #ea7065;height: max-content}
#chart-courses .chart .content .three .arrow{margin-bottom: 10rem;}
#chart-courses .chart .content .four{background-color: #84bed6;height: max-content}
#chart-courses .chart .content .four .arrow{margin-bottom: 14rem;}
#chart-courses .chart .content .img-person-one{max-width: 100%;position: absolute;margin-left: -13rem;margin-top: 9rem;}
#chart-courses .chart .content .img-person-two{max-width: 100%;position: absolute;margin-top: -10rem;padding-left: 1rem;}
#chart-courses .chart .content .img-person-three{position: absolute;margin-top: 17.5rem;margin-left: 6rem;}
#chart-courses .register{margin-top: 5rem;text-align: center;}
#chart-courses .register button{background-color: #e71c24;border-radius: 25px;text-transform: uppercase;color: white;border: none;font-size: 22px;padding: 6px 20px 6px 43px;font-weight: bold;}
#chart-courses .register span{border: 2px solid #b00001;border-radius: 25px;padding: 5px;background-color: #d10305;}
#procedure{margin-top: 17rem;background-image: url('images/procedure/1-19.png');background-repeat: no-repeat;background-size: auto;}
#procedure .title h2{color: #e71c24;font-size: 50px;font-weight: bold;text-align: center;}
#procedure .content{display: flex;align-items: flex-end;}
#procedure .content .item{max-width: max-content;margin-left: 3rem;}
#procedure .content .item img{max-width: 100%;}
#procedure .content .item .detail-item-one button{background-color: #7dcfe2;width: 100%;border-radius: 25px;border: none;color: white;}
#procedure .content .item .detail-item-two button{background-color: #b5d56a;width: 100%;border-radius: 25px;border: none;color: white;}
#procedure .content .item .detail-item-three button{background-color: #ea7065;width: 100%;border-radius: 25px;border: none;color: white;}
#procedure .register{margin-top: 5rem;text-align: center;}
#procedure .register button{background-color: #e71c24;border-radius: 25px;text-transform: uppercase;color: white;border: none;font-size: 22px;padding: 6px 20px 6px 43px;font-weight: bold;}
#procedure .register span{border: 2px solid #b00001;border-radius: 25px;padding: 5px;background-color: #d10305;margin-left: 10px;}
#lecturers{margin-top: 1rem;background-image: url('images/lecturers/Background.png');background-repeat: no-repeat;background-size: auto;}
#lecturers .title{padding-top: 10rem;}
#lecturers .title h2{color: #e71c24;font-size: 50px;font-weight: bold;text-align: center;}
#lecturers .content{margin-top: 22rem;}
#lecturers .content .item{background-image: url('images/lecturers/item-bg.png');background-size: 100% 100%;background-repeat: no-repeat;}
#lecturers .content .item .image{background-color: #ea7065;width: 100%;border-radius: 25px;margin-left: 1rem;height: 11rem;}
#lecturers .content .item .image .person{margin: auto;width: auto;height: inherit;padding-top: 1rem;}
#lecturers .content .item .text h5{color: #bb332d;text-transform: uppercase;font-weight: bold;margin-left: 2rem;padding-top: 1rem;}
#lecturers .content .item .text .intro-lecturer{margin-left: 3rem;}
#lecturers .content .item .text .intro-lecturer::before{content: "";width: 5px;height: 5px;border-radius: 25px;background-color: #bb332d;position: absolute;margin-left: -16px;margin-top: 8px;}
#lecturers .content .item .text .descrip-lecturerred{margin-left: 2rem;text-align: justify;margin-left: 2rem;}
#lecturers .content .item .detail{margin-top: 1rem;text-align: center;}
#lecturers .content .item .detail button{background-color: #bc342e;border-radius: 25px;text-transform: uppercase;color: white;border: none;font-size: 15px;padding: 6px 9px 6px 9px;font-weight: bold;margin-bottom: 2rem;}
#lecturers .content .item .detail span{margin-left: 10px;}
#lecturers .content .item .bg-item{max-width: 100%;height: max-content;position: absolute;}
#lecturers .content .item .content-item{padding-left: 2rem;padding-right: 4rem;padding-top: 2rem;}
#lecturers .content .owl-carousel .owl-next{font-size: 700%;margin-left: 72rem;margin-top: -24rem;position: absolute;color: #5e413d;}
#lecturers .content .owl-carousel .owl-prev {font-size: 700%;margin-top: -24rem;position: absolute;color: #5e413d;margin-left: -3rem;}
#lecturers .register{margin-top: 5rem;text-align: center;padding-bottom: 5rem;}
#lecturers .register button{background-color: #e71c24;border-radius: 25px;text-transform: uppercase;color: white;border: none;font-size: 22px;padding: 6px 20px 6px 43px;font-weight: bold;}
#lecturers .register span{border: 2px solid #b00001;border-radius: 25px;padding: 5px;background-color: #d10305;margin-left: 10px;}
#lecturers .owl-dots{display: none;}
#face-student{margin-top: 3rem;background-image: url('images/face-student/1-35.png');background-repeat: no-repeat;background-size: auto;}
#face-student .title{display: flex;justify-content: center;}
#face-student .title .title-text{background-color: #e71c24;width: 53%;height: fit-content;color: white;text-align: center;font-size: 40px;border-radius: 25px;padding-left: 5rem;padding-right: 5rem;margin-top: 4rem;font-weight: bold;}
#face-student .title img{position: absolute;margin-left: -20rem;}
#face-student .content{margin-top: 10rem;}
#face-student .content .image{border-radius: 100px;width: 13rem;height: 13rem;background-color: #b5d56a;}
#face-student .content .name-student{margin-left: 3rem;margin-top: 1rem;color: #e61b24;text-transform: uppercase;}
#face-student .content .owl-carousel .owl-next{font-size: 700%;margin-left: 68rem;margin-top: -18rem;position: absolute;color: #5e413d;}
#face-student .content .owl-carousel .owl-prev {font-size: 700%;margin-top: -18rem;position: absolute;color: #5e413d;margin-left: -3rem;}
#face-student .content .text .arrow{clip-path: polygon(50% 34%, 1% 0, 100% 0);background-color: white;width: 2rem;height: 3rem;position: absolute;margin-top: 5px;margin-left: 5rem;}
#face-student .content .text {background-color: #e71c24; color: white;border-radius: 25px;}
#face-student .content .text p{padding: 2rem 8rem 2rem;text-align: center;}
#face-student .register{margin-top: 5rem;text-align: center;}
#face-student .register button{background-color: #e71c24;border-radius: 25px;text-transform: uppercase;color: white;border: none;font-size: 22px;padding: 6px 20px 6px 43px;font-weight: bold;}
#face-student .register span{border: 2px solid #b00001;border-radius: 25px;padding: 5px;background-color: #d10305;margin-left: 10px;}
#face-student .register img{max-width: 100%;;margin-left: 23rem;position: absolute;}

#media{margin-top: 12rem;}
#media .title{text-align: center;}
#media .title h2{color: #e71c24;font-size: 50px;font-weight: bold;}
#media .content{display: flex;margin-top: 4rem;text-align: center;}
#media .content img{margin-left: 2rem;max-width: 100%;text-align: center;}
#media .content-two,#media .content-three {display: none;}


@media only screen and (max-width: 1024px) {
    #chart-courses .chart .column {width: 10rem;}
    .owl-prev,.owl-next{display: none;}
    #face-student .register img{margin-left: 0rem;}
    #face-student .title .title-text{width: 63%;}
    #media .content{display: none;}
    #media .content-two{display: block;}
    #media .content-two div{max-width: 100%;display: flex;margin-top: 5rem;text-align: center;}
    #media .content-two img{margin-left: 7rem;}
    #chart-courses .chart .content .img-person-three{margin-top: 20.5rem;}
    #chart-courses .chart .content .img-person-one{margin-top: 10rem;}
    #chart-courses .chart .content{padding-left: 8.5rem;}
    #chart-courses .chart .content .img-person-two{width: 9%;margin-top: -6rem;}
  }

@media only screen and (max-width: 768px) {
    #chart-courses .chart .content .img-person-one,#chart-courses .chart .content .img-person-two,#chart-courses .chart .content .img-person-three{display: none;}
    #chart-courses .chart .content{padding-left: 1rem;}
    #face-student .register img{width: 20%;}
    #face-student .title img{width: 10rem;margin-left: -14rem;margin-top: 3rem;}
    #media .content-two img{margin-left: 4rem;}
    #chart-courses{margin-top: 16rem;}
    #lecturers .content{margin-top: 10rem;}
}

@media only screen and (max-width: 480px) {
    #vid-binggo-leader .text .title{padding-right: 2rem;padding-left: 0rem;}
    #vid-binggo-leader .text .content{padding-right: 3rem;}
    #vid-binggo-leader .video{padding-right: 3rem;padding-left: 3rem;}
    #chart-courses .chart{border-bottom: none;padding-top: 6rem;}
    #chart-courses .chart .content{display: block;padding-left: 0rem;}
    #chart-courses .chart .column{width: auto;margin-left: 2rem;margin-right: 2rem;}
    #chart-courses .chart .content .two .arrow ,#chart-courses .chart .content .three .arrow,#chart-courses .chart .content .four .arrow{margin-bottom: 0rem;}
    #procedure .content{display: block;}
    #procedure .content .item{margin-top: 3rem;}
    #media .content-two img{margin-left: 1rem;}
    #lecturers .content{margin-top: 2rem;}
    #face-student .title .title-text{width: auto;}
    #face-student .title img{width: 4rem;margin-left: -10rem;}
    #media .content-two{display: none;}
    #media .content-three{display: block;margin-top: 3rem;}
    #media .content-three div{margin-top: 2rem;}
    #media .content-three img{margin-left: 3rem;}
    #face-student .content .text p {padding: 2rem 2rem 2rem;}
    #face-student .register img {width: 11%;}
    #lecturers{margin-top: 0rem;}
    #vid-binggo-leader .video iframe{height: auto;}
    #chart-courses,#procedure,#media,#face-student .content{margin-top: 5rem;}
    #chart-courses .register{margin-top: 2rem;}
    #chart-courses .chart .column{border-radius: 25px;}
    #chart-courses .register button,#procedure .register button,#lecturers .register button{font-size: 14px;}
    #face-student .title .title-text{font-size: 22px;}
    #chart-courses .title-main h2,#procedure .title h2,#lecturers .title h2,#media .title h2{font-size: 40px;}
    #face-student .content .item{padding-right: 2rem;text-align: center;}
    #face-student .content .name-student{margin-left: 0rem;}
    


}

@media only screen and (max-width: 380px) {

}